<div class="header">
  <img class="logo" src="assets/TelenarSpire.jpg">
  <h1>Telenar Spire Warframe Calculator</h1>
</div>
<div class="container">
  <div class="row">
    <h4>Weapon Stats</h4>
  </div>
  <div class="row row-cols-4">
    <div class="col-4 mb-3">
      <label class="form-label">Fire Rate</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.fireRate">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Multishot</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.multishot">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Magazine Size</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.magazineSize">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Reload Time</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.reloadTime">
    </div>
  </div>
  <div class="row row-cols-4">
    <div class="col-4 mb-3">
      <label class="form-label">Critical Chance</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" [(ngModel)]="weapon.displayCriticalChance">
        <span class="input-group-text">%</span>
      </div>
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Critical Damage</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.criticalDamage">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Status Chance</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" [(ngModel)]="weapon.displayStatusChance">
        <span class="input-group-text">%</span>
      </div>
    </div>
  </div>
  <div class="row">
    <h4>Physical Damage</h4>
  </div>
  <div class="row row-cols-4">
    <div class="col-4 mb-3">
      <label class="form-label">Impact</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.impact">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Puncture</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.puncture">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Slash</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.slash">
    </div>
  </div>
  <div class="row">
    <h4>Elemental Damage</h4>
  </div>
  <div class="row row-cols-4">
    <div class="col-4 mb-3">
      <label class="form-label">Cold</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.cold">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Electricity</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.electricity">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Heat</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.heat">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Toxin</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.toxin">
    </div>
  </div>
  <div class="row">
    <h4>Hybrid Damage</h4>
  </div>
  <div class="row row-cols-4">
    <div class="col-4 mb-3">
      <label class="form-label">Blast</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.blast">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Corrosive</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.corrosive">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Gas</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.gas">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Magnetic</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.magnetic">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Radiation</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.radiation">
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Viral</label>
      <input type="number" class="form-control" [(ngModel)]="weapon.damage.viral">
    </div>
  </div>
  <!-- <div class="row row-cols-4">
    <div class="col-4 mb-3">
      <button class="btn btn-primary" (click)="calculateDamage(1)">Calculate Damage</button>
    </div>
  </div> -->

  <div class="row">
    <h4>Generic Hit Damage</h4>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <h5>Average Hits / Second: <span class="result">{{ weapon.hitsPerSecond | number : '1.0-2'}}</span></h5>
      <h5>Average Hit Damage: <span class="result">{{ weapon.averageHitDamage | number : '1.0-2'}}</span></h5>
      <h5>Total Hit DPS: <span class="result">{{ weapon.hitDPS | number : '1.0-0'}}</span></h5>
      <br>
      <h5>Status Stacks / Second: <span class="result">{{ statusStacksPerSecond | number : '1.0-2'}}</span></h5>
    </div>
  </div>

  <div class="row">
    <h4>Enemy Stats</h4>
  </div>
  <div class="row row-cols-4">
    <div class="col-4 mb-3">
      <label class="form-label">Health Type</label>
      <select class="form-control" [(ngModel)]="enemy.healthType">
        <option value="" selected>Generic</option>
        <option value="machinery">Machinery</option>
        <option value="cloned flesh">Cloned Flesh</option>
        <option value="fossilized">Fossilized</option>
        <option value="infested flesh">Infested Flesh</option>
        <option value="infested">Infested</option>
        <option value="robotic">Robotic</option>
        <option value="flesh">Flesh</option>
      </select>
    </div>
    <div class="col-4 mb-3">
      <label class="form-label">Health</label>
      <input type="number" class="form-control" [(ngModel)]="enemy.health">
    </div>
  </div>
  <div class="row row-cols-4">
    <div class="col-4 mb-3">
      <label class="form-label">Shield Type</label>
      <select class="form-control" [(ngModel)]="enemy.shieldType">
        <option value="" selected>None</option>
        <option value="shield">Shield</option>
        <option value="proto shield">Proto Shield</option>
      </select>
    </div>
    <div class="col-4 mb-3" *ngIf="enemy.shieldType!=''">
      <label class="form-label">Shield</label>
      <input type="number" class="form-control" [(ngModel)]="enemy.shield">
    </div>
  </div>
  <div class="row row-cols-4">
    <div class="col-4 mb-3">
      <label class="form-label">Armor Type</label>
      <select class="form-control" [(ngModel)]="enemy.armorType">
        <option value="" selected>None</option>
        <option value="alloy">Alloy Armor</option>
        <option value="ferrite">Ferrite Armor</option>
        <option value="infested sinew">Infested Sinew</option>
      </select>
    </div>
    <div class="col-4 mb-3" *ngIf="enemy.armorType!=''">
      <label class="form-label">Armor</label>
      <input type="number" class="form-control" [(ngModel)]="enemy.baseArmor">
    </div>
  </div>

  <div class="row">
    <h4>Effective Hit Damage</h4>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <h5>Effective Hit Damage: <span class="result">{{ effectiveHitDamage | number : '1.0-0'}}</span></h5>
      <h5>Effective DPS: <span class="result">{{ effectiveDPS | number : '1.0-0'}}</span></h5>
    </div>
  </div>
  
  <div class="row">
    <h4>Status Damage</h4>
  </div>
</div>

<div class="footer" style="height: 100px;">

</div>